@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-display: 'DM Serif Display', sans-serif;
    --font-tech: 'Open', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-optical-sizing: auto;
    background-color: #EEEEEE;
    font-weight: initial;
    border: 16px solid #D8D8D8;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

h1 {
    color:#081F32;
    font-size: 48px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: var(--font-display);
}

section {
    display: inline-block;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-top: 10px;
    gap: 40px;
}

article {
    width: 360px;
    height: 528px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-top: 20px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    text-align: left;
    filter: brightness(0.97);
}

article:hover {
    filter: brightness(1.00);
}

.image {
  position: relative; /* Establishes positioning context */
  display: inline-block; /* Helps container wrap tightly around the images */
}

.image img:last-child {
    width: 360px;
    height: 216px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.image img:first-child {
    width: 64px;
    height: 64px;
    position:absolute;
    top: 0; 
    left: 0;
    margin-left: 288px;
    margin-top: 8px;
}

.head {
    display: flex;
    flex-direction: row;
    margin: 15px 24px;
    gap: 40px;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 8px;
    margin: 0px 0px;
}

.leaf.leaf {
    width: 24px;
    height: 24px;
    background-color: #2ECC71;    
    border-radius: 50%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 0px;
}

.leaf img {
    width: 14px;
    height: 14px;
}

.fire.fire {
    width: 24px;
    height: 24px;
    background-color: #F8593B;    
    border-radius: 50%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 0px;    
}

.fire img {
    width: 14px;
    height: 14px;
}

.wheat.wheat {
    width: 24px;
    height: 24px;
    background-color: #FFC22B;    
    border-radius: 50%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 0px;    
}

.wheat img {
    width: 14px;
    height: 14px;
}

h3 {
    color: #081F32;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.16px;
    font-weight: 400;
    font-family: var(--font-display);
}

p {
    color: #6E798C;
    width: 312px;
    height: 75px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-family: var(--font-tech);
    margin: 30px 24px; 
}

figcaption div {
    color: #A5ADBB;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    font-family: var(--font-tech);
    margin:30px 24px;
    display: flex;
    gap: 40px;
}

.price-details {
    margin: 10px 24px;
    align-items: baseline;

        
    .current-price {
        color: #081F32;
        font-size: 28px;
        font-weight: 400;
        font-family: var(--font-display);
        line-height: 25px;
        font-style: normal;
    }

    .old-price {
        color: #F8593B;
        text-decoration: line-through;
        font-size: 20px;
        font-weight: 400;
        font-family: var(--font-display);
        line-height: 25px;
        margin-left: 10px;
        position: relative;    
        top: -2px;
    }

    button {
        background-color: #2ECC71;
        border: 0px;
        border-radius: 4px;
        width: 114px;
        height: 44px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 2.88px;
        font-family: var(--font-tech);
        cursor: pointer;
        margin-left: 30px;
    }
}

footer {
    color: #081F32;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    font-family: var(--font-tech);
    margin: 24px 0px;    
}